@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body{
    font-family: 'Righteous', cursive;
    background-color: greenyellow;
    display: flex;
    height: 86vh;
    border: 5px solid black;
    padding: 50px;
    overflow: hidden;
}
button {
    padding-top: 20px;
    font-family: inherit;
    width: 120px;
    height: 120px;
    padding: 10px;
    font-weight: 400;
    margin: 3px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    border: 5px solid black;
}

.panic{
    padding: none;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    color: red;
    float: right;
    position: relative;
}

.stop{
    padding: none;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    color: white;
    float: right;
    position: relative;
}

button p {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    margin: 1px;
    padding-top: 5px;
    color: black;
    text-align: left;
}

.panic p {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    font-weight: 600;

}

input{
    margin: 10px;
    margin-right:0;
    padding: 3px;
    border: 5px solid black;
    height: 25px;
}