<!DOCTYPE html>
<html>

<head>
    <title>Arwa Lucky</title>
    <link href="styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,400;1,300;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
<div style="display: grid;"> 
    <h1>Toggl</h1>    
    <h1>Notion</h1>    
  
</div>
   


    <div style="width: 50vw;">

        <form action="start" method="post">

            <div>
                <button name="foo" value="EGI">
                    <i class="fa fa-magnet" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>EGI</p>
                    26.07.22

                </button>
                <button name="foo" value="SPS">
                    <i class="fa fa-plug" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>SPS</p>
                    11.08.22

                </button>

                <button name="foo" value="ASB">
                    <i class="fa fa-code-fork" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>ASB</p>
                    18.08.22

                </button>
                <button name="foo" value="SWT">
                    <i class="fa fa-code" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>SWT</p>
                    24.08.22
                </button>

                <button name="foo" value="WUG">
                    <i class="fa fa-diamond" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>WUG</p>
                    12.09.22
                </button>
                <button name="foo" value="bitch" style="background-color: rgb(239 0 255);">
                    <i class="fa fa-circle" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>Bitch fit</p>

                </button>

            </div>
            <hr style="height:3px;border-width:0;color:gray;background-color:black; margin: 50px;">

            <div>
                <button name="foo" value="qbeyond">
                    <i class="fa fa-money" style="font-size: 2.5em;" aria-hidden="true"></i>
                    <p>Work</p>
                    Har roz
                </button>


            </div>
        </form>
        <hr style="height:3px;border-width:0;color:gray;background-color:black; margin: 50px;">



        <form action="notion" method="post">
            <input type="text" name="task">
            <button style="height: 70px; background-color: yellow;">
                <p>Add</p>
            </button>

        </form>

    </div>







    <div style="width: 50%; float: right;">

        <div style="text-align: right;">
            <h1>Calendar</h1>
            <form style="text-align: right;" name="calendar" action="addEvent" method="post">
                <div style="display: inline-grid; justify-items: right;">
                    <input type="text" name="eventName" required>
                    <input type="datetime-local" name="eventTime" required>
                    <button style="float: right; height: 70px; background-color: yellow;" name="calendar"
                        onsubmit="submitForm()" value="PANIC">
                        <p>Add</p>
                    </button>

                </div>
                <script>
                    function submitForm() {
                        document.calendar.submit();
                        document.calendar.reset();
                    }
                </script>
            </form>


        </div>

        <div style="position: fixed; bottom: 50px; right: 40px">
            <form action="university" method="post">
                <button class="panic" name="foo" value="PANIC">
                    <p>STOP AND PANIC</p>
                </button>
            </form>

            <form action="stop" method="get">
                <button class="stop" name="foo" value="PANIC">
                    <p>Stop</p>
                </button>
            </form>


        </div>

    </div>

</body>



</html>
